<h2>Contact Me</h2>


<app-contact-card
  title="GitHub"
  icon="assets/github.png"
  link="https://github.com/alijadaloun"
></app-contact-card>
<app-contact-card
  title="LeetCode"
  icon="assets/leetcode.png"
  link="https://leetcode.com/u/ali_jadelaoun/"
></app-contact-card>
<app-contact-card
  title="LinkedIn"
  icon="assets/linkedin.png"
  link="https://www.linkedin.com/in/ali-jadelaoun"
></app-contact-card>
<app-contact-card
  title="Email"
  icon="assets\email.png"
  link="mailto:ali.jadalaoun@lau.edu"
></app-contact-card>

<app-contact-card
  title="Phone"
  icon="assets/phone.png"
  link="tel:+96181501832"
></app-contact-card>