<h2>Projects</h2>

<app-card
  title="SAM-Library"
  subtitle="Full-stack Book Library Web Application"
  description="Developed a library website with Angular, FastAPI, Flask, and MySQL with two colleagues. Designed librarian and shopping cart pages, developed an AI chatbot feature and a recommendation system."
></app-card>

<app-card
  title="961-Store"
  subtitle="Full-stack E-commerce Web Application"
  description="Developed a full-stack web app for E-commerce using React.js, Node.js, MongoDB in a team of 4. Responsible for backend implementation and creating a responsive cross-device frontend display."
></app-card>
