<section id="education" class="education-section">
  <h2 class="section-subtitle">Education</h2>
  <app-card
    title="B.E. in Computer Engineering"
    subtitle="Lebanese American University | Sep 2022 – Present"
    description="CGPA: 3.6 | MGPA: 3.6. Dean’s Distinguished List for 4 semesters. Active member of the Software Engineering Club and IEEE AI Club."
  ></app-card>

  <h2 class="section-subtitle">Scholarships & Honors</h2>
  
  <app-card
    title="LIFE Scholarship"
    subtitle="LIFE Program | Sep 2025 – Present"
    description="Partial tuition scholarship combined with structured career mentorship and leadership development. Actively engaged in the LIFE community by receiving professional guidance and contributing to peer support and assistance initiatives."
  ></app-card>

  <app-card
    title="MEPI Tomorrow’s Leaders Scholarship"
    subtitle="U.S. Department of State | Academic Year 2024 – 2025"
    description="Fully funded (100%) merit-based scholarship awarded for two academic semesters. Granted to high-achieving students demonstrating academic excellence, leadership potential, and strong community engagement."
  ></app-card>


  <app-card
    title="Honor Scholarship"
    subtitle="Lebanese American University | Sep 2022 – Present"
    description="Merit-based scholarship covering part of tuition, awarded in recognition of sustained academic distinction and high GPA."
  ></app-card>

</section>
