<h2>Experience</h2>

<app-card
  title="Database Engineering Intern"
  subtitle="Ogero | Jun 2025 – Aug 2025"
  description="Analyzed PostgreSQL DB design (API management, authentication/authorization, multi-tenant architecture). Suggested performance improvements like composite indexing, row-level security(RLS), and audit logging. Proposed optimizations by integrating Redis for caching and Azure Blob Storage for file storage."
></app-card>

<app-card
  title="Back-End Development Intern"
  subtitle="Inmind.ai | Feb 2025 – Mar 2025"
  description="Developed and tested RESTful APIs using ASP.NET Core, applied N-layer and clean code architecture. Implemented design patterns (Singleton, Dependency Injection, Factory, CQRS, Mediator). Enhanced data querying using OData and GraphQL. Applied Redis caching, RabbitMQ, basic Angular front-end, and DevOps practices (CI/CD, containerization)."
></app-card>
